<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Whatsapp -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-whatsapp"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
            Our platform empowers students to create and publish their own posts, 
            enabling them to showcase their creativity, expertise, and unique perspectives. 
            Whether it's a thought-provoking article, a tutorial, a study tip, or a review, 
            every post contributes to the wealth of knowledge available to our community... <a href="{% url 'about_us' %}">Read more</a>
        </p>
      </section>
      <!-- Section: Text -->
  
    </div>
    <!-- Grid container -->
  
    <!-- Contact -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <i class="fas fa-phone-alt"></i> <i>+234 81 600 755 89</i>
      <br>
      <i class="fas fa-phone-alt"></i> <i>+234 81 261 276 92</i>
      <br><br>
      <i class="fas fa-map-marker-alt"></i>
      Osun State University, Oke baale, Osogbo, Osun State, Nigeria.
  
    </div>
    <!-- Contact -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Made by eazynetworld © 2023 Copyright:
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
  
  