{% extends 'engine/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Register
{% endblock title %} 

{% block page_header %}
<div class="container" style="margin-top: 200px;">
    {% if messages %}
    <div class="alert alert-warning">
      {% for msg in messages %}
        {{ msg }}
      {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="container mt-4 w-50">
    <form action="{% url 'signup' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class=" mb-3">{{ form.profile_img |as_crispy_field  }}</div>
        <div class="row mb-3">
            <div class="col-6">{{ form.first_name |as_crispy_field }}</div>
            <div class="col-6">{{ form.last_name |as_crispy_field  }}</div>
        </div>

        <div class=" mb-3">{{ form.username |as_crispy_field  }}</div>
        <div class=" mb-3">{{ form.email |as_crispy_field  }}</div>
        <div class="mb-3">{{ form.password1 |as_crispy_field }}</div>
        <div class="mb-3">{{ form.password2 |as_crispy_field  }}</div>
        <br>
        <button class="btn btn-primary w-100" type="submit">Submit</button>
        <p><br>
            Already have an account? <a href="{% url 'login_view' %}">Login now !</a>
        </p>
    </form>
</div>

<br><br>

<!--footer section-->
{% block footer %}
  {% include 'engine/footer.html' %}
{% endblock footer %}
<!--end of footer section-->
{% endblock %}