{% extends 'engine/base.html' %} 
{% load static %}

{% block title %} 
Reviews
{% endblock title %} 

{% block extra_style %}
<link rel="stylesheet" href="{% static 'css/reviews.css' %}" />
{% endblock %}

{% block page_header %}
<div class="container" style="margin-top: 200px;">
</div>
{% endblock %}

{% block content %}
<div class="container w-100 review-fields-div">

    {% if messages %}
        {% for msg in messages %}
            <div class="info w-75 me-auto">
                {{ msg }}
                <p>
                    <br><br>
                    Go back to <a href="{% url 'home' %}">home</a>
                </p>
            </div>
        {% endfor %}
    {% else %}
        <div class="text">
            <h4 class="text-center">Help us to satisfy you better</h4>
            <br>
        </div>
        <div class="container form-div me-auto">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="info">
                    <!-- Name input -->
                    <div class="mb-2">
                        <label class="form-label name" for="form4Example1">Name</label>
                        <input type="text" name="name" id="form4Example1" class="form-control border border-primary rounded name-input" />
                    </div>
            
                    <!-- Email input -->
                    <div class="mb-2">
                        <label class="form-label email" for="form4Example2">Email address</label>
                        <input type="email" name="email" id="form4Example2" class="form-control border border-primary rounded email-input" />
                    </div>
            
                </div>
                
                <!-- Message input -->
                <div>
                    <label class="form-label text" for="form4Example3">Message</label>
                    <textarea class="form-control border border-primary rounded text-input" name="message" id="form4Example3" rows="4"></textarea>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4 mt-4">Send</button>
            </form>
        </div>
    {% endif %}
</div>



<br><br><br><br><br>   

<!--footer section-->
{% block footer %}
  {% include 'engine/footer.html' %}
{% endblock footer %}
<!--end of footer section-->
{% block script %}
<script>

</script>
{% endblock %}
{% endblock %}
