{% extends 'engine/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Top authors
{% endblock title %} 

{% block page_header %}
<div class="container bg-secondary p-3 rounded-5 w-100 text-light" style="margin-top: 100px;">
    <div class="title">
        <h4>Welcome to top authors board lists</h4>
        <hr>
    </div>
    <div class="description">
        You can also be among the top authors when you meet the following requirements.
        <ul>
            <li>Create 10 posts</li>
            <li>Have a total likes of 25</li>
            <li>Have a total no of 25 comments</li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container m-4 w-100">
    <h3>Top authors</h3>
    <br>
    <div class="container">
        <!-- for admin -->

        <div class="row shadow-2-strong text-center text-dark mb-4 rounded-5">
            <div class="col-3">
                <img src="{{ user_info.user_img.url }}" alt="{{ post.author.user.username }}" class="rounded-circle m-2" height="50" width="50">
            </div>
            <div class="col-3 mt-3">
                Name
            </div>
            <div class="col-3 mt-3">
                Posts
            </div>
            <div class="col-3 mt-3">
                Likes
            </div>
        </div>
        
        <!-- end for admin -->
    </div>
    {% if all_top_posts %}
    <div class="container">
        {% for post in all_top_posts %}
            <div class="row shadow-2-strong text-center text-dark mb-4 rounded-5">
                <div class="col-3">
                    <img src="{{ post.user_img.url }}" alt="{{ post.author.user.username }}" class="rounded-circle m-2" height="50" width="50">
                </div>
                <div class="col-3 mt-3">
                    {{ post.user.first_name }} {{ post.user.last_name }}
                </div>
                <div class="col-3 mt-3">
                    {{ post.post_count }} Posts 
                </div>
                <div class="col-3 mt-3">
                    {{ post.total_likes }} Likes
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<br><br>

<!--footer section-->
{% block footer %}
  {% include 'engine/footer.html' %}
{% endblock footer %}
<!--end of footer section-->
{% endblock %}