/* for small screen */
@media (max-width:767px) {

}

/* for large screen */
@media (min-width:768px) {
    .form-div{
        width: 100%;
    }

    .form-div > form {
        width: 50%;
        margin: auto;
    }
    .form-div > form div{
        margin: 20px 0;
    }

}