/* for small screen */
@media (max-width:767px) {
    .navbar{
        font-size:15px;
        width: 100%;
    }

    .nav-profile img{
        width: 20px;
        height: 20px;
    }

    .filter-btn {
        width: 5px;
    }

}

/* for large screen */
@media (min-width:768px) {
    .category_form .cat-form{
        width: 100%;
    }
}